<div class="canvas">
  <!-- Sidebars -->
  <%= render "layouts/sidebar"%>

  <!-- Content -->
  <div class="content">
    <!-- Header -->
    <%= render partial: "container/header", locals: { title: "PROFILE" }%>
    <!-- Container -->
    <div class="container">
      <!-- Profile -->
      <div class="profile">
        <!-- Profile Header -->
        <div class="profile-header">
          <div class="profile-image">
            <img src="images/photo/photo01_large.jpg" alt="photo" />
          </div>
          <div class="profile-info">
            <h3 class="name">Kim Tae Yeon</h3>
            <p>@kimtaeyeon</p>
            <a class="button" href="#"><i class="spicon spicon-plus"></i> SPOT</a>
          </div>
        </div>

        <!-- Profile Tabs -->
        <div class="profile-tab">
          <!-- Navigation tabs -->
          <ul class="tab tab-justified" role="tablist">
            <li class="active" role="presentation"><a href="#punch" aria-controls="punch" role="tab" data-toggle="tab">Punch <span class="count">512</span></a></li>
            <li role="presentation"><a href="#spotting" aria-controls="spotting" role="tab" data-toggle="tab">Spotting <span class="count">25</span></a></li>
            <li role="presentation"><a href="#spotters" aria-controls="spotters" role="tab" data-toggle="tab">Spotters <span class="count">50K</span></a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="punch">
              <!-- Listing -->
              <ul class="listing">
                <li class="item">
                  <div class="list">
                    <div class="list-image">
                      <a href="profile.html" class="list-logo">
                        <img src="images/logo/logo03.jpg" alt="logo" />
                      </a>
                    </div>
                    <div class="list-content">
                      <div class="list-header">
                        <div class="list-header-text">
                          <div class="timeline-text1">
                            <a href="#">STARBUCKS</a>
                          </div>
                          <div class="timeline-text2">
                            <a href="#">Cappuccino Coffee</a>
                          </div>
                          <div class="timeline-text3">
                            <a href="#">Summarecon Mall Serpong</a>
                          </div>
                        </div>
                        <div class="list-nav list-flip">
                          <div class="flip-container">
                            <div class="flipper">
                              <div class="front">
                                <img src="images/product/product01.jpg" alt="product" />
                              </div>
                              <div class="back">
                                <div class="list-action">
                                  <a href="#"><i class="spicon spicon-like"></i></a>
                                  <a href="#"><i class="spicon spicon-comment"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="list">
                    <div class="list-image">
                      <a href="profile.html" class="list-logo">
                        <img src="images/logo/logo04.jpg" alt="logo" />
                      </a>
                    </div>
                    <div class="list-content">
                      <div class="list-header">
                        <div class="list-header-text">
                          <div class="timeline-text1">
                            <a href="#">APPLE</a>
                          </div>
                          <div class="timeline-text2">
                            <a href="#">Macbook Pro Retina Display</a>
                          </div>
                          <div class="timeline-text3">
                            <a href="#">Lotte Shopping Avenue</a>
                          </div>
                        </div>
                        <div class="list-nav list-flip">
                          <div class="flip-container">
                            <div class="flipper">
                              <div class="front">
                                <img src="images/product/product02.jpg" alt="product" />
                              </div>
                              <div class="back">
                                <div class="list-action">
                                  <a href="#"><i class="spicon spicon-like"></i></a>
                                  <a href="#"><i class="spicon spicon-comment"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="list">
                    <div class="list-image">
                      <a href="profile.html" class="list-logo">
                        <img src="images/logo/logo01.jpg" alt="logo" />
                      </a>
                    </div>
                    <div class="list-content">
                      <div class="list-header">
                        <div class="list-header-text">
                          <div class="timeline-text1">
                            <a href="#">UNIQLO</a>
                          </div>
                          <div class="timeline-text2">
                            <a href="#">Gaun Modal Linen Lengan Pendek</a>
                          </div>
                          <div class="timeline-text3">
                            <a href="#">Lotte Shopping Avenue</a>
                          </div>
                        </div>
                        <div class="list-nav list-flip">
                          <div class="flip-container">
                            <div class="flipper">
                              <div class="front">
                                <img src="images/product/product05.jpg" alt="product" />
                              </div>
                              <div class="back">
                                <div class="list-action">
                                  <a href="#"><i class="spicon spicon-like"></i></a>
                                  <a href="#"><i class="spicon spicon-comment"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="list">
                    <div class="list-image">
                      <a href="profile.html" class="list-logo">
                        <img src="images/logo/logo05.jpg" alt="logo" />
                      </a>
                    </div>
                    <div class="list-content">
                      <div class="list-header">
                        <div class="list-header-text">
                          <div class="timeline-text1">
                            <a href="#">IKEA</a>
                          </div>
                          <div class="timeline-text2">
                            <a href="#">Hurdal</a>
                          </div>
                          <div class="timeline-text3">
                            <a href="#">IKEA Alam Sutera</a>
                          </div>
                        </div>
                        <div class="list-nav list-flip">
                          <div class="flip-container">
                            <div class="flipper">
                              <div class="front">
                                <img src="images/product/product03.jpg" alt="product" />
                              </div>
                              <div class="back">
                                <div class="list-action">
                                  <a href="#"><i class="spicon spicon-like"></i></a>
                                  <a href="#"><i class="spicon spicon-comment"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>

              <!-- Load More -->
              <div class="loadmore">
                <a href="#loadmore">LOADMORE</a>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="spotting">
              <!-- Listing -->
              <ul class="listing">
                <li class="item">
                  <div class="list">
                    <div class="list-image">
                      <a href="profile.html" class="list-photo small">
                        <img src="images/photo/photo02.jpg" alt="logo" />
                      </a>
                    </div>
                    <div class="list-content align-middle">
                      <div class="list-header-text">
                        <div class="timeline-text1">
                          <a href="#">Takeshi Kaneshiro</a>
                        </div>
                        <div class="timeline-text4">
                          <a href="#">@takeshikaneshiro</a>
                        </div>
                      </div>
                    </div>
                    <div class="list-button align-middle">
                      <a class="button" href="#"><i class="spicon spicon-plus"></i> SPOT</a>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="list">
                    <div class="list-image">
                      <a href="profile.html" class="list-photo small">
                        <img src="images/photo/photo04.jpg" alt="logo" />
                      </a>
                    </div>
                    <div class="list-content align-middle">
                      <div class="list-header-text">
                        <div class="timeline-text1">
                          <a href="#">Haruka Nakagawa</a>
                        </div>
                        <div class="timeline-text4">
                          <a href="#">@harukanakagawa</a>
                        </div>
                      </div>
                    </div>
                    <div class="list-button align-middle">
                      <a class="button" href="#"><i class="spicon spicon-plus"></i> SPOT</a>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="list">
                    <div class="list-image">
                      <a href="profile.html" class="list-photo small">
                        <img src="images/photo/photo05.jpg" alt="logo" />
                      </a>
                    </div>
                    <div class="list-content align-middle">
                      <div class="list-header-text">
                        <div class="timeline-text1">
                          <a href="#">Jim Carrey</a>
                        </div>
                        <div class="timeline-text4">
                          <a href="#">@jimcarrey</a>
                        </div>
                      </div>
                    </div>
                    <div class="list-button align-middle">
                      <a class="button button-spoting" href="#">SPOTING</a>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="list">
                    <div class="list-image">
                      <a href="profile.html" class="list-photo small">
                        <img src="images/photo/photo06.jpg" alt="logo" />
                      </a>
                    </div>
                    <div class="list-content align-middle">
                      <div class="list-header-text">
                        <div class="timeline-text1">
                          <a href="#">Natalie Portman</a>
                        </div>
                        <div class="timeline-text4">
                          <a href="#">@natalieportman</a>
                        </div>
                      </div>
                    </div>
                    <div class="list-button align-middle">
                      <a class="button" href="#"><i class="spicon spicon-plus"></i> SPOT</a>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="list">
                    <div class="list-image">
                      <a href="profile.html" class="list-photo small">
                        <img src="images/photo/photo07.jpg" alt="logo" />
                      </a>
                    </div>
                    <div class="list-content align-middle">
                      <div class="list-header-text">
                        <div class="timeline-text1">
                          <a href="#">David Beckham</a>
                        </div>
                        <div class="timeline-text4">
                          <a href="#">@davidbeckham</a>
                        </div>
                      </div>
                    </div>
                    <div class="list-button align-middle">
                      <a class="button button-spoting" href="#">SPOTING</a>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="list">
                    <div class="list-image">
                      <a href="profile.html" class="list-photo small">
                        <img src="images/photo/photo03.jpg" alt="logo" />
                      </a>
                    </div>
                    <div class="list-content align-middle">
                      <div class="list-header-text">
                        <div class="timeline-text1">
                          <a href="#">Yofie Setiawan</a>
                        </div>
                        <div class="timeline-text4">
                          <a href="#">@yofiesetiawan</a>
                        </div>
                      </div>
                    </div>
                    <div class="list-button align-middle">
                      <a class="button button-spoting" href="#">SPOTING</a>
                    </div>
                  </div>
                </li>
              </ul>

              <!-- Load More -->
              <div class="loadmore">
                <a href="#loadmore">LOADMORE</a>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="spotters">
              <!-- Listing -->
              <ul class="listing">
                <li class="item">
                  <div class="list">
                    <div class="list-image">
                      <a href="profile.html" class="list-photo small">
                        <img src="images/photo/photo02.jpg" alt="logo" />
                      </a>
                    </div>
                    <div class="list-content align-middle">
                      <div class="list-header-text">
                        <div class="timeline-text1">
                          <a href="#">Takeshi Kaneshiro</a>
                        </div>
                        <div class="timeline-text4">
                          <a href="#">@takeshikaneshiro</a>
                        </div>
                      </div>
                    </div>
                    <div class="list-button align-middle">
                      <a class="button" href="#"><i class="spicon spicon-plus"></i> SPOT</a>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="list">
                    <div class="list-image">
                      <a href="profile.html" class="list-photo small">
                        <img src="images/photo/photo04.jpg" alt="logo" />
                      </a>
                    </div>
                    <div class="list-content align-middle">
                      <div class="list-header-text">
                        <div class="timeline-text1">
                          <a href="#">Haruka Nakagawa</a>
                        </div>
                        <div class="timeline-text4">
                          <a href="#">@harukanakagawa</a>
                        </div>
                      </div>
                    </div>
                    <div class="list-button align-middle">
                      <a class="button" href="#">UNSPOT</a>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="list">
                    <div class="list-image">
                      <a href="profile.html" class="list-photo small">
                        <img src="images/photo/photo05.jpg" alt="logo" />
                      </a>
                    </div>
                    <div class="list-content align-middle">
                      <div class="list-header-text">
                        <div class="timeline-text1">
                          <a href="#">Jim Carrey</a>
                        </div>
                        <div class="timeline-text4">
                          <a href="#">@jimcarrey</a>
                        </div>
                      </div>
                    </div>
                    <div class="list-button align-middle">
                      <a class="button button-spoting" href="#">SPOTING</a>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="list">
                    <div class="list-image">
                      <a href="profile.html" class="list-photo small">
                        <img src="images/photo/photo06.jpg" alt="logo" />
                      </a>
                    </div>
                    <div class="list-content align-middle">
                      <div class="list-header-text">
                        <div class="timeline-text1">
                          <a href="#">Natalie Portman</a>
                        </div>
                        <div class="timeline-text4">
                          <a href="#">@natalieportman</a>
                        </div>
                      </div>
                    </div>
                    <div class="list-button align-middle">
                      <a class="button" href="#"><i class="spicon spicon-plus"></i> SPOT</a>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="list">
                    <div class="list-image">
                      <a href="profile.html" class="list-photo small">
                        <img src="images/photo/photo07.jpg" alt="logo" />
                      </a>
                    </div>
                    <div class="list-content align-middle">
                      <div class="list-header-text">
                        <div class="timeline-text1">
                          <a href="#">David Beckham</a>
                        </div>
                        <div class="timeline-text4">
                          <a href="#">@davidbeckham</a>
                        </div>
                      </div>
                    </div>
                    <div class="list-button align-middle">
                      <a class="button button-spoting" href="#">SPOTING</a>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="list">
                    <div class="list-image">
                      <a href="profile.html" class="list-photo small">
                        <img src="images/photo/photo03.jpg" alt="logo" />
                      </a>
                    </div>
                    <div class="list-content align-middle">
                      <div class="list-header-text">
                        <div class="timeline-text1">
                          <a href="#">Yofie Setiawan</a>
                        </div>
                        <div class="timeline-text4">
                          <a href="#">@yofiesetiawan</a>
                        </div>
                      </div>
                    </div>
                    <div class="list-button align-middle">
                      <a class="button button-spoting" href="#">SPOTING</a>
                    </div>
                  </div>
                </li>
              </ul>

              <!-- Load More -->
              <div class="loadmore">
                <a href="#loadmore">LOADMORE</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript_document do %>
  <%= javascript_include_tag 'libs/jquery/jquery.min' %>
  <%= javascript_include_tag 'libs/bootstrap/transition' %>
  <%= javascript_include_tag 'libs/bootstrap/modal' %>
  <%= javascript_include_tag 'libs/bootstrap/tab' %>
  <%= javascript_include_tag 'spotpunch' %>
<% end %>