<div class="canvas">
  <!-- Sidebars -->
  <%= render "users/sidebar"%>
  <!-- Content -->
  <div class="content">
    <!-- Header -->
    <%= render partial: "container/header", locals: { title: "PROFILE" }%>
    <!-- Container -->
    <div class="container">
      <!-- Profile -->
      <div class="profile">
        <!-- Profile Header -->
        <div class="header">
          <div class="image">
            <img src="images/photo/photo01_large.jpg" alt="photo" />
          </div>
          <div class="info">
            <h3 class="name"><%= display_name @user %></h3>
            <p>@<%= @user.username %></p>
            <% if @user != current_user %>
              <a class="button" href="#spot"><i class="spicon spicon-plus"></i> SPOT</a>
            <% end %>
          </div>
        </div>
        <!-- Profile Tabs -->
        <div class="profile-tab">
          <!-- Navigation tabs -->
          <ul class="tab tab-justified" role="tablist">
            <li class="active" role="presentation"><a href="#punch" aria-controls="punch" role="tab" data-toggle="tab">Punch <span class="count"><%= @reviewsSize %></span></a></li>
            <li role="presentation"><a href="#spotting" aria-controls="spotting" role="tab" data-toggle="tab">Spotting <span class="count" id="following-count"><%= @following_size %></span></a></li>
            <li role="presentation"><a href="#spotters" aria-controls="spotters" role="tab" data-toggle="tab">Spotters <span class="count">50K</span></a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="punch">
              <!-- Listing -->
              <ul class="listing">
                <% @reviews.each do |review| %>
                  <%= render partial: "list/reviews_at_profile", locals: { review: review }%>
                <% end %>
              </ul>
              <div class="loadmore">
                <a href="#loadmore">LOADMORE</a>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="spotting">
              <!-- Listing -->
              <ul class="listing">
                <% @followings.each do |following| %>
                  <%= render partial: "list/following", locals: { following: following }%>
                <% end %>
              </ul>
              <div class="loadmore">
                <a href="#loadmore">LOADMORE</a>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="spotters">
              <!-- Listing -->
              <ul class="listing">
                <li class="item">
                  <div class="list">
                    <div class="list-image">
                      <a href="profile.html" class="list-photo small">
                        <img src="images/photo/photo02.jpg" alt="logo" />
                      </a>
                    </div>
                    <div class="list-content align-middle">
                      <div class="text1">
                        <a href="profile.html">Takeshi Kaneshiro</a>
                      </div>
                      <div class="text4">
                        <a href="profile.html">@takeshikaneshiro</a>
                      </div>
                    </div>
                    <div class="list-button align-middle">
                      <a class="button" href="#spot"><i class="spicon spicon-plus"></i> SPOT</a>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="list">
                    <div class="list-image">
                      <a href="profile.html" class="list-photo small">
                        <img src="images/photo/photo04.jpg" alt="logo" />
                      </a>
                    </div>
                    <div class="list-content align-middle">
                      <div class="text1">
                        <a href="profile.html">Haruka Nakagawa</a>
                      </div>
                      <div class="text4">
                        <a href="profile.html">@harukanakagawa</a>
                      </div>
                    </div>
                    <div class="list-button align-middle">
                      <a class="button" href="#unspot">UNSPOT</a>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="list">
                    <div class="list-image">
                      <a href="profile.html" class="list-photo small">
                        <img src="images/photo/photo05.jpg" alt="logo" />
                      </a>
                    </div>
                    <div class="list-content align-middle">
                      <div class="text1">
                        <a href="profile.html">Jim Carrey</a>
                      </div>
                      <div class="text4">
                        <a href="profile.html">@jimcarrey</a>
                      </div>
                    </div>
                    <div class="list-button align-middle">
                      <a class="button button-spoting" href="#spoting">SPOTING</a>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="list">
                    <div class="list-image">
                      <a href="profile.html" class="list-photo small">
                        <img src="images/photo/photo06.jpg" alt="logo" />
                      </a>
                    </div>
                    <div class="list-content align-middle">
                      <div class="text1">
                        <a href="profile.html">Natalie Portman</a>
                      </div>
                      <div class="text4">
                        <a href="profile.html">@natalieportman</a>
                      </div>
                    </div>
                    <div class="list-button align-middle">
                      <a class="button" href="#spot"><i class="spicon spicon-plus"></i> SPOT</a>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="list">
                    <div class="list-image">
                      <a href="profile.html" class="list-photo small">
                        <img src="images/photo/photo07.jpg" alt="logo" />
                      </a>
                    </div>
                    <div class="list-content align-middle">
                      <div class="text1">
                        <a href="profile.html">David Beckham</a>
                      </div>
                      <div class="text4">
                        <a href="profile.html">@davidbeckham</a>
                      </div>
                    </div>
                    <div class="list-button align-middle">
                      <a class="button button-spoting" href="#spoting">SPOTING</a>
                    </div>
                  </div>
                </li>
                <li class="item">
                  <div class="list">
                    <div class="list-image">
                      <a href="profile.html" class="list-photo small">
                        <img src="images/photo/photo03.jpg" alt="logo" />
                      </a>
                    </div>
                    <div class="list-content align-middle">
                      <div class="text1">
                        <a href="profile.html">Yofie Setiawan</a>
                      </div>
                      <div class="text4">
                        <a href="profile.html">@yofiesetiawan</a>
                      </div>
                    </div>
                    <div class="list-button align-middle">
                      <a class="button button-spoting" href="#spoting">SPOTING</a>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="loadmore">
                <a href="#loadmore">LOADMORE</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :javascript_document do %>
  <%= javascript_include_tag 'libs/jquery/jquery.min' %>
  <%= javascript_include_tag 'libs/bootstrap/transition' %>
  <%= javascript_include_tag 'libs/bootstrap/modal' %>
  <%= javascript_include_tag 'libs/bootstrap/tab' %>
  <%= javascript_include_tag 'spotpunch' %>
  <script type="text/javascript">
    $(document).
    on("ajax:before", "a#option-search", function(event, xhr, settings) {
      xhr.setRequestHeader("quick-search", "true");
      console.log("Loading... Before Send....");
    });
    // $(document).ready(function(){
    //   $(".spot-button").on("click", function () {
    //     url = $(this).attr("data-url");
    //     $.ajax({                                      
    //       url   : url,
    //       type  : "POST"
    //     });
    //   })
    // });
  </script>
<% end %>