<div class="canvas">
  <!-- Sidebars -->
  <%= render "users/sidebar"%>
  <!-- Content -->
  <div class="content">
    <!-- Header -->
    <%= render partial: "container/header", locals: { title: "PROFILE" }%>
    <!-- Container -->
    <div class="container">
      <!-- Profile -->
      <div class="profile">
        <!-- Profile Header -->
        <div class="header">
          <div class="image">
            <% if current_user.image.blank? %>
              <img src="images/photo/photo01_large.jpg" alt="photo" />
            <% else %>
              <img src="<%= current_user.image.avatar.url %>" alt="photo" />
            <% end %>
          </div>
          <div class="info">
            <h3 class="name"><%= display_name @user %></h3>
            <p>@<%= @user.username %></p>
            <% if @user != current_user %>
              <% if @is_user_following %>
                <%= render "users/component/unfollow"%>
              <% else %>
                <%= render "users/component/follow"%>
              <% end %>
            <% end %>
          </div>
        </div>
        <!-- Profile Tabs -->
        <div class="profile-tab">
          <!-- Navigation tabs -->
          <ul class="tab tab-justified" role="tablist">
            <li class="active" role="presentation"><a href="#punch" aria-controls="punch" role="tab" data-toggle="tab">Punch <span class="count"><%= @reviewsSize %></span></a></li>
            <li role="presentation"><a href="#spotting" aria-controls="spotting" role="tab" data-toggle="tab">Spotting <span class="count" id="following-count"><%= @following_size %></span></a></li>
            <li role="presentation"><a href="#spotters" aria-controls="spotters" role="tab" data-toggle="tab">Spotters <span class="count" id="follower-count"><%= @follower_size %></span></a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="punch">
              <!-- Listing -->
              <ul class="listing">
                <% @reviews.each do |review| %>
                  <%= render partial: "list/reviews_at_profile", locals: { review: review }%>
                <% end %>
              </ul>
              <div class="loadmore">
                <a href="#loadmore">LOADMORE</a>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="spotting">
              <!-- Listing -->
              <ul class="listing">
                <% @followings.each do |following| %>
                  <%= render partial: "list/following", locals: { following: following }%>
                <% end %>
              </ul>
              <div class="loadmore">
                <a href="#loadmore">LOADMORE</a>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="spotters">
              <!-- Listing -->
              <ul class="listing">
                <% @followers.each do |follower| %>
                  <%= render partial: "list/follower", locals: { follower: follower }%>
                <% end %>
              </ul>
              <div class="loadmore">
                <a href="#loadmore">LOADMORE</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :javascript_document do %>
  <%= javascript_include_tag 'libs/jquery/jquery.min' %>
  <%= javascript_include_tag 'libs/bootstrap/transition' %>
  <%= javascript_include_tag 'libs/bootstrap/modal' %>
  <%= javascript_include_tag 'libs/bootstrap/tab' %>
  <script type="text/javascript">
    $(document).
    on("ajax:before", "a#option-search", function(event, xhr, settings) {
      xhr.setRequestHeader("quick-search", "true");
      console.log("Loading... Before Send....");
    });
    // $(document).ready(function(){
    //   $(".spot-button").on("click", function () {
    //     url = $(this).attr("data-url");
    //     $.ajax({                                      
    //       url   : url,
    //       type  : "POST"
    //     });
    //   })
    // });
  </script>
<% end %>