<div class="canvas">
  <%= render "layouts/admin_sidebar"%>
  <div class="content">
    <%= render partial: "container/header", locals: { title: "IMPORT DATA" }%>
    <div class="container">
      Import Mall
      <%= form_tag import_malls_path, multipart: true, role: "form" do %>
          <div class="form-group">
            <div>
              <%= file_field_tag :file %>
            </div>
          </div>
          <%= submit_tag "Import", class: "btn btn-primary" %>
        <% end %>
      Import Brands
      <%= form_tag import_brands_path, multipart: true, role: "form" do %>
          <div class="form-group">
            <div>
              <%= file_field_tag :file %>
            </div>
          </div>
          <%= submit_tag "Import", class: "btn btn-primary" %>
        <% end %>
      Import Stores
      <%= form_tag import_stores_path, multipart: true, role: "form" do %>
          <div class="form-group">
            <div>
              <%= file_field_tag :file %>
            </div>
          </div>
          <%= submit_tag "Import", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>