<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <%= link_to administrators_path do %>
                Home
            <% end %>
        </li>
        <li>
            <%= link_to users_administrators_path do %>
                Users
            <% end %>
        </li>
        <li>
            <%= link_to malls_administrators_path do %>
                Malls
            <% end %>
        </li>
        <li>
            <%= link_to stores_administrators_path do %>
                Stores
            <% end %>
        </li>
        <li>
            <%= link_to products_administrators_path do %>
                Products
            <% end %>
        </li>
        <li>
            <%= link_to promotions_administrators_path do %>
                Promotions
            <% end %>
        </li>
        <li>
            <%= link_to setting_administrators_path do %>
                Setting
            <% end %>
        </li>
        <li>
            <%= link_to import_administrators_path do %>
                Import
            <% end %>
        </li>
    </ul>
</div>