<div class="canvas">
  <!-- Sidebars -->
  <%= render "layouts/sidebar"%>
  <!-- Content -->
  <div class="content">
    <!-- Header -->
    <%= render partial: "container/header", locals: { title: "PRODUCT DETAIL" }%>

    <!-- Container -->
    <div class="container">
      <div class="shop">
        <!-- Carousel -->
        <div class="carousel" data-plugin="carousel">
          <img src="/images/carousel/shop/carusel01.jpg" alt="carousel" />
          <img src="/images/carousel/shop/carusel02.jpg" alt="carousel" />
          <img src="/images/carousel/shop/carusel03.jpg" alt="carousel" />
          <img src="/images/carousel/shop/carusel04.jpg" alt="carousel" />
          <img src="/images/carousel/shop/carusel05.jpg" alt="carousel" />
          <img src="/images/carousel/shop/carusel06.jpg" alt="carousel" />
        </div>

        <!-- Listing -->
        <div class="listing">
          <div class="item">
            <div class="list">
              <div class="list-image">
                <span class="list-icon small">
                  <i class="spicon spicon-fashion"></i>
                </span>
              </div>
              <div class="list-content align-middle">
                <div class="text">
                  <span><%= @product.brand.name %></span>
                </div>
                <div class="text2">
                  <span>Fashion</span>
                </div>
              </div>
              <div class="list-button align-middle" id="spot-button">
                <% if @is_user_following %>
                  <%= render "brands/component/unfollow"%>
                <% else %>
                  <%= render "brands/component/follow"%>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="shop-tab">
          <div class="menu-title">
            <h3>SHOPS</h3>
          </div>
          <div class="menu-link">
            <ul class="tab" role="tablist">
              <li class="active" role="presentation">
                <a href="#shop-index" aria-controls="shop-index" role="tab" data-toggle="tab" data-title="SHOPS"><i class="spicon spicon-fashion"></i></a>
              </li>
              <li role="presentation">
                <a href="#shop-detail" aria-controls="shop-detail" role="tab" data-toggle="tab" data-title="DETAILS"><i class="spicon spicon-info"></i></a>
              </li>
            </ul>
          </div>
        </div>
        
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="shop-index">
            <div class="product">
              <div class="image">
                <img src="/images/sample/sample-product-image.jpg" alt="product" />
              </div>
              <div class="header">
                <div class="title">
                  <h3><%= @product.name %></h3>
                  <div class="price"><%= number_to_currency(@product.price.to_f, unit: "Rp ") %></div>
                  <div class="rate">
                    <% @average_score.to_i.times do |i| %>
                      <i class="spicon spicon-star active"></i>
                    <% end %>
                    <% @total_score.times do |i| %>
                      <i class="spicon spicon-star"></i>
                    <% end %>
                  </div>
                </div>
                <div class="score">
                  <span class="score-badge"><%= @average_score.to_f %></span>
                </div>
              </div>
              <div class="header">
                <div class="like">
                  <i class="spicon spicon-like"></i> <span>5,214 Likes</span>
                </div>
                <div class="comment">
                  <i class="spicon spicon-punch"></i> <span><%= @reviews.size %> Punches</span>
                </div>
              </div>
              <div class="product-body">
                <p><%= @product.description.blank? ? "Keterangan Belum Tersedia" : @product.description %></p>
              </div>
              <div class="punch-button">
                <a href="#" data-toggle="modal" data-target="#punch-modal" class="button">PUNCH</a>
                <a href="#" data-toggle="modal" data-target="#punch-description">What is Punch?</a>
              </div>
              <a class="product-body" role="button" data-toggle="collapse" href="#punches-toggle" aria-controls="punches-toggle">
                <span class="list">
                  <span class="list-content align-middle">
                    <span>PUNCHES (<%= @reviews.size %>)</span>
                  </span>
                  <span class="list-nav"><i class="spicon spicon-arrow-right"></i></span>
                </span>
              </a>
              <div class="collapse" id="punches-toggle">
                <ul class="listing">
                  <% @reviews.each do |review| %>
                    <%= render partial: "list/reviews_at_product", locals: { review: review }%>
                  <% end %>
                </ul>
                <div class="loadmore">
                  <a href="#loadmore">LOADMORE</a>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="shop-detail">
            <div class="shop-content">
              <h3 class="title">PRODUCT DETAIL</h3>
              <p>Kaos Polo Dry Ex Lengan Pendek</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Box -->
<div class="modal fade" id="punch-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= render "modal/punch"%>
    </div>
  </div>
</div>
<div class="modal fade" id="punch-description" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= render "modal/punch_description"%>
    </div>
  </div>
</div>

<!-- Scripts -->
<% content_for :javascript_document do %>
  <%= javascript_include_tag 'libs/jquery/jquery.min' %>
  <%= javascript_include_tag 'libs/bootstrap/transition' %>
  <%= javascript_include_tag 'libs/bootstrap/modal' %>
  <%= javascript_include_tag 'libs/bootstrap/tab' %>
  <%= javascript_include_tag 'libs/bootstrap/collapse' %>
  <%= javascript_include_tag 'libs/plugins/carousel' %>
<% end %>