<li class="item" id="<%= following.class.name.downcase %>-<%= following.id %>">
  <div class="list">
    <div class="list-image">
      <%= display_list_image_profile following %>
    </div>
    <div class="list-content align-middle">
      <div class="text1">
        <%= display_list_name_profile following %>
      </div>
      <div class="text4">
        <%= display_list_username_profile following %>
      </div>
    </div>
    <div class="list-button align-middle">
      <% case following.class.name %>
      <% when "Brand" %>
        <% if current_user.following?(following) %>
          <%= render partial: "brands/component/user_unfollowing", locals:{following:following, is_current_user_page:(true if @user==current_user)} %>
        <% else %>
          <%= render partial: "brands/component/user_following", locals:{following:following, is_current_user_page:(true if @user==current_user)} %>
        <% end %>
      <% when "Store" %>
        <% if current_user.following?(following) %>
          <%= render partial: "stores/component/user_unfollowing", locals:{following:following, is_current_user_page:(true if @user==current_user)} %>
        <% else %>
          <%= render partial: "stores/component/user_following", locals:{following:following, is_current_user_page:(true if @user==current_user)} %>
        <% end %>
      <% when "User" %>
        <% unless following == current_user %>
          <% if current_user.following?(following) %>
            <%= render partial: "users/component/user_unfollowing", locals:{following:following, is_current_user_page:(true if @user==current_user)} %>
          <% else %>
            <%= render partial: "users/component/user_following", locals:{following:following, is_current_user_page:(true if @user==current_user)} %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</li>