<li class="item">
  <div class="time">
    <span>3w</span>
  </div>
  <div class="list">
    <div class="list-image">
      <%= display_list_image_profile review.user %>
    </div>
    <div class="list-content">
      <div class="text1">
        <%= link_to review.store.name, show_malls_path(name:review.store.mall.permalink, permalink:review.store.permalink) %>
      </div>
      <div class="text2">
        <%= link_to review.product.name, products_show_malls_path(name:review.store.mall.permalink, permalink:review.store.permalink, product_id:review.product) %>
      </div>
      <div class="text3">
        <%= link_to review.store.mall.name, mall_path(review.store.mall.permalink) %>
      </div>
    </div>
    <div class="list-nav list-flip">
      <div class="list-action product-action">
        <a class="active" href="#like"><i class="spicon spicon-like"></i> <span class="count">243</span></a>
        <a href="#comment"><i class="spicon spicon-comment"></i> <span class="count">12</span></a>
      </div>
    </div>
  </div>
  <div class="list-comment spicon spicon-quote">
    <h4><a href="comment.html"><%= display_name current_user %></a></h4>
    <p><%= review.content.html_safe %></p>
  </div>
</li>