<li class="item">
  <div class="list">
    <div class="list-image">
      <a href="shop.html" class="list-logo">
        <img src="images/logo/logo03.jpg" alt="logo" />
      </a>
    </div>
    <div class="list-content">
      <div class="text1">
        <%= link_to review.store.name, show_malls_path(name:review.store.mall.permalink, permalink:review.store.permalink) %>
      </div>
      <div class="text2">
        <%= link_to review.product.name, products_show_malls_path(name:review.store.mall.permalink, permalink:review.store.permalink, product_id:review.product) %>
      </div>
      <div class="text3">
        <%= link_to review.store.mall.name, mall_path(review.store.mall.permalink) %>
      </div>
    </div>
    <div class="list-nav list-flip">
      <div class="flip-container">
        <div class="flipper">
          <div class="front">
            <img src="images/product/product01.jpg" alt="product" />
          </div>
          <div class="back">
            <div class="list-action">
              <% if @current_user.liked? review %>
                <%= render partial: "reviews/component/like", locals: { review:review, id:review.id }%>
              <% else %>
                <%= render partial: "reviews/component/dislike", locals: { review:review, id:review.id }%>
              <% end %>
              <a href="#comment"><i class="spicon spicon-comment"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>