<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title><%= content_for?(:title) ? yield(:title) : "Spotpunch" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<div class="modal fade" id="spotpunch-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= render "modal/search"%>
    </div>
  </div>
</div>
<%= yield(:javascript_document) %>
<%= javascript_include_tag 'spotpunch' %>
</body>
</html>